
body, html {
  height: 100%;
  background-image: url("https://www.canon.co.nz/-/media/new-zealand/stories/rach-stewart/rach-stewart-7-southern-alps.ashx?la=en-nz");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }